body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.thehead {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  border-bottom: #0f4cc5 5px solid;
 width: 75%;
 justify-content: center;
 margin: 10px 12% ;
}

.titels{

  border-bottom: #0f4cc5 2px solid;
  margin: 20px
}

.forms{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.inputtext {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.inputtext label {
  width: 30%;
  font-weight: 500;
}

.inputtext input {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
 .option{
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #c78d8d;
  font-size: 16px;
  font: rgb(130, 32, 32);
  background-color: #b88dc7;
 }
 input{
      width: 228px;
        height: 30px;
 }

 #submitbtn{
  width: 150px;
  height: 45px;
  margin: 20px;
  background-color: #12ba90;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }

 .disabledbtnstyle{
  background-color: grey !important;
  cursor: not-allowed !important;
 }

 select{
width: 228px;
height: 30px;
 }